* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  height: 100vh;
  width: 100vw;
  color: aliceblue;
  background-color: rgb(32, 30, 30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    width: 40%;
    padding: 4rem;
    margin-top: 3rem;
    background: linear-gradient(145deg, #1d1b1b, #222020);
    box-shadow: 20px 20px 60px #1b1a1a, -20px -20px 60px #252323;
    background-color: rgb(26, 25, 25);
    border-radius: 3.125rem;

    h2 {
      margin-bottom: 3rem;
    }

    .input-container {
      margin-bottom: 1rem;

      label {
        margin-bottom: 0.5rem;
        display: block;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }
    }

    .btn-container {
      display: flex;
      justify-content: flex-end;
      button {
        padding: 0.5rem;
        margin-top: 2rem;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1.1rem;
        background-color: rgb(164, 203, 239);

        &:hover {
          background-color: rgb(127, 160, 191);
        }
        &:active {
          background-color: rgb(43, 53, 62);
        }
      }
    }
  }

  small {
    color: rgb(228, 120, 120);
    margin-top: 1rem;
  }
}